<head>
  <meta charset="utf-8">
  <script crossorigin  src="https://unpkg.com/react@16.2.0/umd/react.production.min.js"></script>
  <script crossorigin  src="https://unpkg.com/react-dom@16.2.0/umd/react-dom.production.min.js"></script>
  <script crossorigin  src="https://unpkg.com/create-react-class@15.6.3/create-react-class.min.js"></script>
</head>
<body>
    <div id="root"></div>
</body>
<script>
	const reactElement = React.createElement
	let todos = [{
			name: "Bangun",
			completed: true
		},
		{
			name: "Makan",
			completed: true
		},
		{
			name: "Jalan-jalan",
			completed: false
		},  
		{
			name: "Kencan",
			completed: false
	}]

	const Todo = (props) => {
		var isTaskCompleted = props.todo.completed

		return reactElement(
		    "li",
		    {style: {textDecoration: isTaskCompleted? "line-through": "none"}},
		    props.todo.name,
		    isTaskCompleted? " ✔️": " ❌ "
		);
	}

	const TodoInput = (props) => {
		return React.createElement(
			"form", {onSubmit: props.addTodo}, 
			reactElement(
				"input", {onChange: props.onAddTodoChange, value: props.value}
			),
			reactElement(
				"button", {type: "submit"}, "Tambah Todo"
			)
		)
	}

	const TodoList = (props) => {
	  var listOfTodoItems = props.todos.map((todo, index) => {
	    return reactElement(
	      Todo,
	      {key: index, todo},
	    )
	  })

	  return reactElement(
	    "ul",
	    null,
	    listOfTodoItems
	  );
	}

	const TodoContainer = createReactClass({
	  displayName: "TodoContainer",
	  
	  getInitialState(){
	    return Object.assign({}, 
	    	{todos}, 
	    	{form:{}}
	    );
	  },
	  
	  onAddTodoChange(ev){      
	    this.setState({form:{name: ev.target.value, completed:false}});
	  },
	  
	  addTodo(ev){
	    ev.preventDefault()

	    if(this.state.form && !this.state.form.name) {
	    	alert("diisi dulu, su!")
	    	return
	    }
	    
	    var todos = Object.assign([], this.state.todos)
	    todos.push(this.state.form)
	    
	    this.setState({form: {}, todos});
	  },
	  
	  render(){
	    return (
	      reactElement(
	        React.Fragment, 
	        null,
	        reactElement(
	          TodoInput,
	          {
	            value: this.state.form.name || "",
	            onAddTodoChange: this.onAddTodoChange,
	            addTodo: this.addTodo
	          }
	        ),
	        reactElement(TodoList, this.state)
	      )
	    )
	  }
	
	});


	ReactDOM.render(
	  reactElement(TodoContainer),
	  document.getElementById('root')
	);

</script>